*, ::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #4E4E4E;
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.6rem;
}

/******************************
Navigation Bar
******************************/
.navbar {
    background-color: #3C3C3C;
    color: #efefef;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-nav .navbar-item {
    cursor: default;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    margin-right: 0.5rem;
    transition: all .3s ease;
}

.navbar-item.active {
    color: #10EFBB;
}

.navbar-item:hover {
    color: #10EFBB;
}

/******************************
Home Section
******************************/
.wrap {
    position: relative;
    min-height: 600px;
    width: 100%;
    padding: 10rem 0;
}

.container {
    padding: 0 5rem;
}

.home-content {
    max-width: 125rem;
    margin: 0 auto;
    color: white;
    font-weight: bold;
}

.image-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.overlay-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.overlay-2 {
    position: absolute;
    bottom: 0;
    left: -50%;
    z-index: -2;
}