*, ::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #4E4E4E;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto Slab', sans-serif;
}

/******************************
Navigation Bar
******************************/
.navbar {
    background-color: #3C3C3C;
    color: #efefef;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-nav .navbar-item {
    cursor: default;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    margin-right: 0.5rem;
    transition: all .3s ease;
}

.navbar-item.active {
    color: #10EFBB;
}

.navbar-item:hover {
    color: #10EFBB;
}

/******************************
Home Section
******************************/
.wrap {
    position: relative;
}

.overlay-1 {
    position: absolute;
    top: 0;
    left: 0;
}