*, ::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #4e4e4e;
    margin: 0;
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
}

/****Root Element for rem unit usage****/
:root {
    font-size: 10px;
}

/****************************************
Global Usage
****************************************/
.wrap {
    position: relative;
    width: 100%;
    padding: 12rem 0;
}

.wrap-start {
    min-height: 67rem;
}

.container {
    padding: 0 15rem;
}

.content {
    max-width: 125rem;
    margin: 0 auto;
    color: white;
}

.highlight {
    color: #10efbb;
}

/****************************************
Navigation Bar
****************************************/
.navbar {
    background-color: #3c3c3c;
    color: #efefef;
    font-weight: 400;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-nav .navbar-item {
    cursor: default;
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem 3rem;
    margin-right: 0.5rem;
    transition: all 0.3s ease;
}

.navbar-item a {
    color: inherit;
    text-decoration: none;
}

.navbar-item.active {
    color: #10efbb;
}

.navbar-item:hover {
    color: #10efbb;
}

/****************************************
Home Section
****************************************/
.content .introduction, .content .education {
    font-size: 2.4rem;
    font-weight: bold;
}

.image-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
}

.overlay-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.overlay-2 {
    position: absolute;
    bottom: 0;
    z-index: -1;
    animation: waveRight 180s infinite linear;
}

@keyframes waveRight {
    0% {
        transform: translateX(-40%);
    }

    100% {
        transform: translateX(-15.5%);
    }
}

/****************************************
Education Section
****************************************/

/***Timeline***/
.timeline {
    position: relative;
    max-width: 125rem;
    margin-top: 10rem;
}

.timeline::after {
    content: '';
    position: absolute;
    background-color: #3C3C3C;
    width: 6px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-right: 3px;
}

.timeline h2 {
    margin: 0;
}

.timeline .row {
    position: relative;
    display: flex;
    padding: 2rem 0;
    line-height: 2rem;
}

.timeline__year, .timeline__description {
    width: 50%;
}

.timeline__year {
    position: relative;
    text-align: right;
    padding: 0 5rem;
}

.timeline__year::after {
    content: '';
    position: absolute;
    top: 3px;
    right: -10px;
    background-color: #10efbb;
    height: 14px;
    width: 14px;
    border-radius: 50px;
    border: 3px solid #3C3C3C;
    z-index: 2;
}

.timeline__description {
    padding: 0 calc(5rem + 12px);
}